/* Web Fonts -------------------- */
@import url('https://fonts.googleapis.com/css?family=Courgette|Fjalla+One|Fredericka+the+Great|Pacifico');
@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');
// font-family: 'Pacifico', cursive;
// font-family: 'Courgette', cursive;
// font-family: 'Fjalla One', sans-serif;
// font-family: 'Fredericka the Great', cursive;

.down-arrow {
  padding-left: 60vw;
  font-size: 2vw;
}

.main-header {
  background: url(../../images/aurora.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

.title-head {
  font-family: 'Fredericka the Great', cursive;
  color: azure;
  text-align: left;
  margin: 0;  
}

.header-title {
  margin: 0 15vw;
}

.letters {
  color: yellow;
}

.dot {
  color: yellow;
}

.fas {
  @include icons;
}

.fab {
  @include icons2;
} 

// portfolio pics ====#
.pic {
  width: 100%;
  height: 100%;
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}

.img:hover .pic {
  transform: scale(1);
}
// end of portfolio pic ====#

// portfolio image styling hover

.portfolio {
position: relative;
overflow: hidden;

}

.img {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: black;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
  opacity: 0;
}

.img:hover .overlay {
  bottom: 0;
  height: 100%;
  opacity: 1;
}

.text {
  margin-top: 30%;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  color: azure;
}
// end of my portfolio image styling

.gp, .lc {
  text-align: center;
}

.copyright {
  margin-top: 10%; 
  font-family: 'Courgette', cursive;
  color: azure;
  font-size: 2vw;
}


// styling for my tooltip
.tool {
  position: relative;
  display: inline-block;
}

.tool .tiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tool:hover .tiptext {
  visibility: visible;
}

// ==== code

.collapsible {
  background-image: linear-gradient(to right, #3772cb, #009cd3);
  color: #444;
  cursor: pointer;
  padding: 18px;
  margin-bottom: 4%;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

/* My Collapsible Button With Content */
.active, .collapsible:hover {
  background-image: yellow;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  position: relative;
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: azure;
}


// ============

.parallax {
  height: 70vh;
  background-image: url(../../images/astro);
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat; 
}

.paragraph {
  color: yellow;
  font-size: 2vw;
  float: right;
  padding-top: 35vh ;
  font-family: 'Pacifico', cursive;
  margin-right: 2vw;
}

