// Mixins are one of the most used features of Sass. They let you break CSS down into modular chunks that you can reuse anywhere in your stylesheets. Being able to do this helps us to avoid writing repetitive code.


/* Mixins -------------------- */

// mixins loadout

@mixin heading {
    font-family: 'Courgette', cursive; 
    font-size: 2.5vw;
    text-align: center;
    margin: 2%;
    height: 3vw;
    background-color: #000;
    color: white;
}

@mixin icons {
    font-size: 2.5vw;

    -webkit-animation-name: coolers;
    -webkit-animation-duration: 20s;
    animation-name: coolers;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

// skills icons with animation

@mixin icons2 {
    margin-left: 45%;
}



//   end of animation icon

@mixin para {
    font-family: 'Fjalla One', sans-serif;
    padding: 1vw;
    font-size: 1vw;
    word-spacing: 10%;
}



