// Mixins are one of the most used features of Sass. They let you break CSS down into modular chunks that you can reuse anywhere in your stylesheets. Being able to do this helps us to avoid writing repetitive code.


/* Mixins -------------------- */

// mixins loadout

@mixin heading {
    font-family: 'Fredericka the Great', cursive;  
    font-size: 2.5vw;
    text-align: center;
    margin: 0 0 2% 0;
    height: 3vw;
    background-image: linear-gradient(to right, #3772cb, #009cd3);  
    color: white;
    padding: 1%;    
}

@mixin icons {
    font-size: 2.5vw;
}

// skills icons 

@mixin icons2 {
    margin: 5vh 0 0 45%;
    color:azure;
    padding: 3%;
}

//   end of animation icon

@mixin para {
    font-family: 'Fjalla One', sans-serif;
    padding: 1vw;
    font-size: 1vw;
    word-spacing: 10%;
}



