/* Media Queries -------------------- */


// How to Use CSS to Resize Your (Foreground) Images While Preserving Their Aspect Ratio
// The simplest and most painless way to quickly get all your existing foreground pictures to fit a mobile screen is to resize them with CSS. This can easily be done with the following rules.

// img {
//     width: auto;
//     max-width: 100%;
//     height: auto;
// }

// How to Use Mobile Queries to Deliver Responsive Background Images

@media (max-width: 480px) {   
    // my portfolio section
    .portfolio {
        display: block;
        margin: 2%;
    }

    // my skills section
    .wrapper {
        height: 70vh;
        margin: 2%;
        background: url(../images/hero.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "html css"
                             "java sass"
                             "github git"
    }

    @mixin icons2 {
        margin: 0;
        color:azure;
        padding: 3%;
    }

    // my education section
    .education {
        display: block;
        width: 96%;
        margin: auto;
    }
 }


