.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;

    grid-template-areas: "header header header"
                         "main main main"
                         "footer footer footer"
}

.main-header {
    grid-area: header;
}

.container {
    grid-area: main;
    display: block;
}

.feet {
    grid-area: footer;
}

.wrapper {
    height: 50vh;
    background-image: url(../../images/hero.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: grid;
    margin: 2%;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto) ;

    grid-template-areas: "html css sass"
                         "java github git"
}

// my container for  my portfolio
.portfolio {
    display: grid;
    margin: 2%;
    grid-gap: 2%;
    grid-template-columns: repeat(3, 1fr);

}

// end of my container work

// start of my education layout
.education {
    display: grid;
    grid-gap: 2%;
    grid-template-columns: 1fr 1fr;
    width: 96%;
    margin: auto;
    height: 50vh;
}

// end of my layout

// start of my socials layout

.feet {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "linkedin whatsapp github email"
                         "map map map map"
                        
}

.mail {
    grid-area: email;
}

.git {
    grid-area: github;
}

.linked {
    grid-area: linkedin;
}

.what {
    grid-area: whatsapp;
}

.map {
    grid-area: map;
    margin-top: 5%;
}